<tr>
  <td class='event-label'>User Name:</td>
  <td class='event-attr'><%= user.name %></td>
</tr>
<tr>
  <td class='event-label'>User Email:</td>
  <td class='event-attr'><%= user.email %></td>
</tr>
