<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">New team</p>
      <div class="page-section">
        <%= render 'form' %>
        <%= link_to 'Back', event_teams_path(@event) %>
      </div>
    </div>
  </div>
</div>
