/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

.slider-row {
    background-color: lightgray;
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    -safari-box-shadow: 10px 10px 5px #888;
    box-shadow: 1px 1px 5px #888;
}

.slider-wrapper {
    margin-right: 0em;
}

div.slider-wrapper div.slider {
    margin-bottom: 0em;
}

.page-section {
    margin-left: 1em;
}

.page {
    margin-top: 1.5em;
}

.page-title {
    border-bottom: 3px #BBB solid;
    font-size: 1.8em;
    color: #666673;
}

.page-subtitle {
    border-bottom: 2px #BBB solid;
    font-size: 1.4em;
    color: #666673;
}

.page-text {
    margin: 1em;
    text-indent: 1em;
    font-size: 0.9em;
}

.event-img {
    margin: 1em auto;
    display: block;
}

.article-blurb, .event-blurb {
    margin: 0.5em 0em 1em;
    position: relative;
}

a.div-link span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* edit: added z-index */
    z-index: 1;
}

.article-title, .event-title {
    color: #0053A6;
    font-size: 0.9em;
    text-decoration: underline;
}

.article-excerpt {
    text-indent: 1em;
    font-size: 0.8em;
}

.article-info {
    font-style: italic;
    text-indent: 0.9em;
    font-size: 0.9em;
    color: gray;
}

.article-subinfo {
    text-indent: 1.3em;
    font-size: 0.7em;
}

.separator {
    margin: 1.5em 0em;
    border-bottom: 1px lightgray dotted;
}

div.theme-default div.nivo-controlNav {
    position: relative;
    top: 0;
}

.nivoSlider {
    position: relative;
    width: 484px;
    height: 359px;
    background: url(/nivo-slider/themes/default/loading.gif) no-repeat 50% 50%;
}

.nivoSlider > img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.nivoSlider a {
    border: 0;
    display: block;
}

.center-text {
    text-align: center;
}

.center-table {
    margin: auto;
}

.center-table td {
    padding-left: 5px;
}

.event-label {
    color: #0053A6;
    font-size: 0.9em;
    font-style: italic;
    width: 5em;
}

.event-attr {
    font-size: 0.8em;
}

.page-body {
    font-size: 0.8em;
    margin: 1em;
}

* {
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -safari-box-sizing: border-box;
}

/* fix for box-sizing above */
#fancybox-content, #fancybox-wrap, #fancybox-outer, #fancybox-inner, .AnyTime-win * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -safari-box-sizing: content-box;
}

html {
    height: 100%;
}

body {
    background: #a0a0a0; /* Old browsers */
    background: -moz-linear-gradient(top, #a0a0a0 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a0a0a0), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a0a0a0 0%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a0a0a0 0%, #f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a0a0a0 0%, #f9f9f9 100%); /* IE10+ */
    background: linear-gradient(top, #a0a0a0 0%, #f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a0a0a0', endColorstr = '#f9f9f9', GradientType = 0); /* IE6-9 */

    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Arial", Helvetica, sans-serif;
}

#header {
    position: relative;
}

#header-img {
    width: 382px;
    height: 100px;
    margin: 0px 30em 0px 5em;
    vertical-align: middle;
}

.paypal-img {
    position: relative;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
}

#paypal-modal {
    width: 300px;
}

#header-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu ul li {
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    width: 16.6667%;
    line-height: 2em;
    text-align: center;
    border-top: 0.1em #BBB solid;
    border-bottom: 0.1em #BBB solid;
    border-left: 0.1em #BBB solid;
}

#menu ul li:first-child {
    border-left: 0px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    outline: none;
    background-color: #808080;
    color: #FFF;
}

#menu ul li a:hover {
    background-color: #5290E3;
}

.wrapper {
    width: 1140px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.15em;
    background-color: #F9F9F9;
}

#footer {
    text-align: center;
    border-top: 1px lightgray dotted;
    font-size: 0.8em;
    margin-top: 1em;
}

#footer, .push {
    height: 3em
}

/* admin stuff */
.object-table th, .object-table td {
    text-align: center;
    padding: 1em 1em;
}

.notice {
    text-align: center;
    color: green;
}

#error_explanation {
    text-align: center;
    color: red;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    body {

    }

}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /*	.logo {
         background: url(logo2x.jpg) no-repeat;
         background-size: 212px 303px;
     }*/

}
