body {
  height: 100%;
  background-color: #272A84;
  font-family: "lucida grande",verdana,helvetica,arial,sans-serif;
  color: #333;
}

h1, h2 {
  color: #EE3322;
  padding: 0.313em 0px 0.313em 0px;
  font-family: 'Gill Sans','lucida grande',helvetica,arial,sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2 {
  text-indent: 1.5em;
  font-size: 1.2em;
}

p {
  text-indent: 1.875em;
  padding: 0.313em 0px;
}

.center {
  text-align: center;
}

#content {
  background-color: #797BCC;
}

#header {
  height: 100px;
  width: 978px;
  margin: auto;
  background-image:url('/images/newbanner.png');
}

.rounded-blurb {
  -moz-border-radius: 1em;
  border-radius: 1em;
  background-color: #D9DAF6;
}

.spaced-blurb {
  margin: 1em 1.875em 1em 0px;
  padding: 1em 1em;
}

#menu {
  margin: 1em 0px 0px 1.875em;
}

#menu ul {
  margin: auto;
  list-style: none;
  width: 90%;
}

#menu ul li {
  margin: 0.313em 0px;
  -moz-border-radius: 1em;
  border-radius: 0.313em;
  background-color: #D9DAF6;
  border: 1px solid white;
  padding: 0.313em;
}

#menu ul li:hover {
  background-color: #E9CA5C;
}

#menu ul li a:link, 
#menu ul li a:visited, 
#menu ul li a:active, 
#menu ul li a:hover {
  text-decoration: none;
  color: #000;
}

.event {
  margin: 0.313em;
}

.event-image {
  display: block;
  float: left;
  margin: 1em 4em;
}

.full-event-image {
  display: block;
  text-align: center;
  margin: 2em auto;
}

.field {
  width: 250px;
  margin: 0.5em auto;
  
}

.field_with_errors {
  padding: 2px;
  display: table;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input {
  border: 1px solid red;
}

.actions {
  text-align:center;
}

#notice {
  color: green;
}

#error_explanation {
  width: 500px;
  margin: 2em auto;
  border: 2px solid red;
  background-color: #f0f0f0;
}

#error_explanation ul {
  text-align: center;
}

.auto-margin {
  margin: auto;
}

.index-table {
  margin: auto;
}

.index-table tr td {
  vertical-align: middle;
}

.index-table .index-attr {
  padding: 1em;
}
.index-table .action-buttons input {
  width: 100px;
}

.event-table tr td,
.contacts-table tr td {
  padding: 0.2em 1em;
}

.event-label {
  color: #EE3322;
}

#footer {
  border-top: 1px dotted #272A84;
  color: #000;
  padding: 1em 0px;
}
