body {
  height: 100%;
  background-color: #272A84;
  font-family: "lucida grande",verdana,helvetica,arial,sans-serif;
  color: #333;
}

h1 {
  font-family: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
  font-size: 1.5em;
  color: #EE3322;
  padding: 0px 0px 0.313em 0px;
}

p {
  text-indent: 1.875em;
}

.center {
  text-align: center;
}

#content {
  background-color: #797BCC;
  border-radius: 1em;
}

#header {
  height: 100px;
  width: 978px;
  margin: auto;
  background-image:url('/images/newbanner.png');
}

#menu, #welcome, #upcoming {
  -moz-border-radius: 1em;
  border-radius: 1em;
}

#welcome, #upcoming {
  background-color: #D9DAF6;
  margin: 1em 1.875em 1em 0px;
  padding: 1em 1em;
}

#menu {
  margin: 1em 0px 0px 1.875em;
}

#menu ul {
  margin: auto;
  list-style: none;
  width: 90%;
}

#menu ul li {
  margin: 0.313em 0px;
  -moz-border-radius: 1em;
  border-radius: 0.313em;
  background-color: #D9DAF6;
  border: 1px solid white;
}

#menu ul li:hover {
  background-color: #E9CA5C;
}

#menu ul li a:link, 
#menu ul li a:visited, 
#menu ul li a:active, 
#menu ul li a:hover {
  text-decoration: none;
  color: #000;
}

#footer {
  border-top: 1px dotted #272A84;
  color: #000;
}
