<div class='spaced-blurb rounded-blurb'>
  <h1>User details</h1>
  <table class='event-table auto-margin'>
    <tr>
      <td class='event-label'>Name:</td>
      <td class='event-attr'><%= @user.name %></td>
    </tr>
    <tr>
      <td class='event-label'>Email:</td>
      <td class='event-attr'><%= @user.email %></td>
    </tr>
  </table>
</div>
