<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">User Details</p>
      <div class="page-section">
        <table class='object-table center-table'>
          <tr>
            <td>Name:</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
