<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <div class="page-section">
        <p class="page-title">Editing Event</p>
        <%= render 'form' %>

        <%= link_to 'Show', event_path(@event) %> |
        <%= link_to 'Back', events_path %>
      </div>
    </div>
  </div>
</div>
