<div class="page container">
  <div class="row">
    <div class="fourcol">
      <div class="page-section">
        <%= image_tag(@event.image.url, :class => "event-img") %>
        <%= render(:partial => 'shared/event_table', :locals => {:event => @event}) %>
      </div>
    </div>
    <div class="eightcol last">
      <div class="page-section">
        <p class="page-title"><%= @event.name %></p>
        <div class="page-body">
          <%= raw(@event.description) %>
        </div>
      </div>
    </div>
  </div>
</div>
