<div class="article-blurb">
  <p class="article-title"><%= article.title %></p>
  <p class="article-info article-subinfo"><%= article_info(article) %></p>
  <p class="article-excerpt"><%= article_excerpt(article) %></p>
  <a class="div-link" href="<%= article_path(article.id) %>"><span></span></a>
</div>
