<div class="article-blurb">
  <p class="article-title"><%= link_to(article.title, article_path(article)) %></p>
  <p class="article-info article-subinfo"><%= article_info(article) %></p>
  <p class="article-excerpt"><%= article_excerpt(article) %></p>
</div>
