<div class="news-blurb">
  <p class="news-title">Hannon Sucks His First Dick!</p>
  <p class="news-info">By Ash on <%= Time.now.strftime("%b %d at %I:%M %p") %></p>
  <p class="news-text">
    Just kidding! He's known to suck a ton of dick.  But for the first time, he's taking two at the same time!  Show some love for Hannon's homosexuality and join us while he goes to town on men.  Who knows, he might even go down on you!</p>
</div>
