<div id="about" class="rounded-blurb spaced-blurb">
  <h1>Walk The Walk!</h1>
  <p>Walk The Walk is a 501(c)(3) registered nonprofit organization that pursues various charitable endeavors throughout the New Jersey area.<p>
  <p>Walk The Walk is structured as an umbrella organization which manages programs and raises money for a number of different causes. These causes include senior citizens, homelessness, police and fire organizations, children and many others.</p>
</div>
