<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">Contact Us</p>
      <div class="page-section">
        <table class="center-table">
          <tr>
            <td>Russell Young</td>
            <td><a href="mailto:rdy@walkthewalkfoundation.com">rdy@walkthewalkfoundation.com</a></td>
          </tr>
          <tr>
            <td>Brian Hannon</td>
            <td><a href="mailto:brian@walkthewalkfoundation.com">brian@walkthewalkfoundation.com</a></td>
          </tr>
          <tr>
            <td>Paige Ferrante</td>
            <td><a href="mailto:paige@walkthewalkfoundation.com">paige@walkthewalkfoundation.com</a></td>
          </tr>
          <tr>
            <td>Hal Ornstein</td>
            <td><a href="mailto:hal@walkthewalkfoundation.com">hal@walkthewalkfoundation.com</a></td>
          </tr>
          <tr>
            <td>Gene Young</td>
            <td><a href="mailto:gene@walkthewalkfoundation.com">gene@walkthewalkfoundation.com</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
