<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">Contact Us</p>
      <div class="page-section">
        <p class="page-text center-text">For questions or comments, please email: <a href="mailto:info@walkthewalkfoundation.com">info@walkthewalkfoundation.com</a></p>
      </div>
      <div class="page-section">
        <table class="page-text center-table">
          <tr>
            <td colspan="3">
              <p class="page-subtitle center-text">Personnel</p>
            </td>
          </tr>
          <tr>
            <td>Lisa DeMatteo</td>
            <td><a href="mailto:lisa@walkthewalkfoundation.com">lisa@walkthewalkfoundation.com</a></td>
            <td><a href="tel:+12017399318">(201) 739-9318</a></td>
          </tr>
          <tr>
            <td>Russell Young</td>
            <td><a href="mailto:rdy@walkthewalkfoundation.com">rdy@walkthewalkfoundation.com</a></td>
            <td></td>
          </tr>
          <tr>
            <td>Brian Hannon</td>
            <td><a href="mailto:brian@walkthewalkfoundation.com">brian@walkthewalkfoundation.com</a></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
