<div id='contact' class='rounded-blurb spaced-blurb'>
  <h1>Contact Us</h1>
  <h2>Personnel</h2>
  <div id='contacts'>
    <table class='contacts-table auto-margin'>
      <tr>
        <td class='contact-name'>Russell Young</td>
        <td class='contact-email'><a href="mailto:rdy@walkthewalkfoundation.com">rdy@walkthewalkfoundation.com</a></td>
      </tr>
      <tr>
        <td class='contact-name'>Brian Hannon</td>
      <td class='contact-email'><a href="mailto:brianhan@walkthewalkfoundation.com">brianhan@walkthewalkfoundation.com</a></td>
      </tr>
      <tr>
        <td class='contact-name'>Paige Ferrante</td>
      <td class='contact-email'><a href="mailto:paige@walkthewalkfoundation.com">paige@walkthewalkfoundation.com</a></td>
      </tr>
      <tr>
        <td class='contact-name'>Hal Ornstein</td>
      <td class='contact-email'><a href="mailto:hal@walkthewalkfoundation.com">hal@walkthewalkfoundation.com</a></td>
      </tr>
      <tr>
        <td class='contact-name'>Gene Young</td>
      <td class='contact-email'><a href="mailto:gene@walkthewalkfoundation.com">gene@walkthewalkfoundation.com</a></td>
      </tr>
    </table>
  </div>
</div>
