<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">Donate!</p>
      <p class="page-text">Donations are 100% tax-deductible and much appreciated (please <%= link_to('contact us', site_path('contact')) %> for our tax ID). Anything helps!</p>
      <div class="page-section">
        <%= render(:partial => "paypal_form") %>
      </div>
    </div>
  </div>
</div>
