<div id="welcome" class="rounded-blurb spaced-blurb">
  <h1>Welcome!</h1>
  <p>Walk The Walk is a non profit organization that pursues various charitable endeavors throughout the New Jersey area.  All of our proceeds go directly to local charities or Walk The Walk organized charitable events.  Our goal is to raise money and organize social events that help local New Jersey communities.</p>
</div>
<div id="updates" class="rounded-blurb spaced-blurb">
  <h1>Updates!</h1>
  <h2>Tent City Postponed</h2>
  <p>Unfortunately, due to Hurricane Irene and the impending storm, the "Tent City" fundraiser has been postponed.  A future date will be set soon and will be posted on this site as soon as possible.  Thank you for understanding and we hope that you and your families are safe and secure through the next couple of days.</p> 
</div>
<%= render_last_events %>
