<div class="container">
  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <img src="https://www.google.com/intl/en_com/images/srpr/logo3w.png" />
      <img src="https://www.google.com/intl/en_com/images/srpr/logo3w.png" />
      <img src="https://www.google.com/intl/en_com/images/srpr/logo3w.png" />
      <img src="https://www.google.com/intl/en_com/images/srpr/logo3w.png" />
    </div>
  </div>
</div>
<div class="container">
  <div id="welcome" class="row">
    <h1>Welcome!</h1>
    <p>Walk The Walk is a non profit organization that pursues various charitable endeavors throughout the New Jersey area.  All of our proceeds go directly to local charities or Walk The Walk organized charitable events.  Our goal is to raise money and organize social events that help local New Jersey communities.</p>
  </div>
</div>

<!-- nivo slider -->
<%= stylesheet_link_tag "/nivo-slider/themes/default/default" %>
<%= stylesheet_link_tag "/nivo-slider/nivo-slider" %>
<%= javascript_include_tag "/nivo-slider/jquery.nivo.slider.pack.js" %>

<script type="text/javascript">
$(document).ready(function() {
    $('#slider').nivoSlider();
});
</script>
