<div id="welcome">
  <h1>Welcome!</h1>
  <p>Walk the Walk is a non profit organization that pursues various charitable endeavors throughout the New Jersey area.  All of our proceeds go directly to local charities or Walk the Walk organized charitable events.  Our goal is to raise money and organize social events that help local New Jersey communities.</p>
</div>
<div id="upcoming">
  <h1>Upcoming Events</h1>
  <p>Walk the Walk is a non profit organization that pursues various charitable endeavors throughout the New Jersey area.  All of our proceeds go directly to local charities or Walk the Walk organized charitable events.  Our goal is to raise money and organize social events that help local New Jersey communities.</p>
</div>
