<div class="page container">
  <div class="slider-row row">
    <%=
        render(:partial => 'shared/slider', :locals => {:slider => {
                :id => "main-slider",
                :images => %w(/images/front/1.jpg /images/front/2.jpg /images/front/3.jpg /images/front/4.jpg),
                :options => {'pauseTime' => '5000', 'controlNav' => false}
        }})
    %>
    <div class="sixcol last">
      <p class="page-title center-text">Welcome!</p>

      <p class="page-text">Walk The Walk is a non profit organization that pursues various charitable endeavors
        throughout the New Jersey and New York areas. All of our proceeds go directly to local charities or Walk The Walk organized
        charitable events. Our goal is to raise money and organize social events that help local communities.</p>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row">
    <div class="sixcol">
      <%= render(:partial => 'shared/articles') %>
    </div>
    <div class="sixcol last">
      <%= render(:partial => 'shared/events') %>
    </div>
  </div>
</div>
