<!DOCTYPE html>
<html>
<head>
  <title>Walk The Walk</title>
  <%= stylesheet_link_tag 'reset', '978', 'style' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="layout-978">
  <div class="row">
    <div class="col12">
      <div id="header"></div>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>
  <div id="content">
    <div class="row">
      <div class="col2">
        <div id="menu">
          <ul>
            <li>Home</li>
            <li>Causes</li>
            <li>Fundraising</li>
            <li>Sponsors</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="col10">
      <%= yield %>
      <div class="row-end">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col12">
        <div id="footer">
          <span>Copyright Walk The Walk &copy; 2011</span>
          <br />
          <span>All Rights Reserved.</span>
        </div>
      </div>
      <div class="row-end">&nbsp;</div>
    </div>
  </div>
</div>
</body>
</html>
